<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestWeb1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>web.xml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/helloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>test.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthorityFilter</filter-name>
    <filter-class>filter.AuthorityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorityFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>FindAllBuy</servlet-name>
    <servlet-class>servlet.FindAllBuy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllBuy</servlet-name>
    <url-pattern>/findAllBuy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindBuyServlet</servlet-name>
    <servlet-class>servlet.FindBuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindBuyServlet</servlet-name>
    <url-pattern>/findBuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertBuyServlet</servlet-name>
    <servlet-class>servlet.InsertBuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBuyServlet</servlet-name>
    <url-pattern>/insertBuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteBuyServlet</servlet-name>
    <servlet-class>servlet.deleteBuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBuyServlet</servlet-name>
    <url-pattern>/deletebuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateuserServlet</servlet-name>
    <servlet-class>servlet.UpdateuserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateuserServlet</servlet-name>
    <url-pattern>/updateuserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindAllUserServlet</servlet-name>
    <servlet-class>servlet.FindAllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllUserServlet</servlet-name>
    <url-pattern>/findAllUserServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>FindAllMerchServlet</servlet-name>
    <servlet-class>servlet.FindAllMerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllMerchServlet</servlet-name>
    <url-pattern>/findAllMerchServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdateMerchInfoServlet</servlet-name>
    <servlet-class>servlet.UpdateMerchInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMerchInfoServlet</servlet-name>
    <url-pattern>/updateMerchInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/admin/deleteUserServlet</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>/testTagss</taglib-uri>
      <taglib-location>/WEB-INF/tlds/TestTag.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/jstlc</taglib-uri>
      <taglib-location>/WEB-INF/tlds/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/jstlsql</taglib-uri>
      <taglib-location>/WEB-INF/tlds/sql.tld</taglib-location>
    </taglib>
  </jsp-config>
  <listener>
    <listener-class>filter.OnLineCountListener</listener-class>
  </listener>
  
  
  <servlet>
    <servlet-name>deletecommodityServlet</servlet-name>
    <servlet-class>servlet.deletecommodityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecommodityServlet</servlet-name>
    <url-pattern>/deletecommodityServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>deleteallbuyServlet</servlet-name>
    <servlet-class>servlet.deleteallbuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteallbuyServlet</servlet-name>
    <url-pattern>/admin/deleteallbuyServlet</url-pattern>
  </servlet-mapping>
</web-app>